@{
    ViewData["Title"] = "About";
}

<partial name="_MainMenu" />


<!-- Features Box -->
<div style="padding-top:100px" class="features-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-box-item large-box">
                    <img src="https://hibouwine.com/wp-content/uploads/2021/08/hibou-sonoma-coast-21-15.jpg" alt="">
                    <div style="color:antiquewhite" class="box-text">
                        <span class="trend-year">Est 2005</span>
                        <h2>EU certified</h2>
                        <div class="trend-alert">Wine Producer</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-box-item first-box">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1a/56/43/c5/the-largest-wine-cave.jpg?w=1000&h=-1&s=1" alt="">
                            <div class="box-text">
                                <span class="trend-year"></span>
                                <h2 style="color:antiquewhite;">Winemaking</h2>
                                <span style="color: antiquewhite;" class="trend-alert">The Power of Nature</span>
                                <a asp-controller="Shop" asp-action="index" style="color: antiquewhite;" class="primary-btn">See More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="single-box-item second-box">
                            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/21/a9/60/44/walking-through-home.jpg?w=1000&h=-1&s=1" alt="">
                            <div style="color:antiquewhite" class="box-text">
                                <span class="trend-year">Ancient Traditions</span>
                                <h2 style="color:antiquewhite">Investing in Future</h2>
                                <span class="trend-alert"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Lookbok Section Begin -->
<section style="padding-top:150px" class="lookbok-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <div class="lookbok-left">
                    <div class="section-title">
                        <h2>Philosophy of <br />Vinemaking</h2>
                    </div>
                    <p>
                        The history of Winiveria started back in 2005, when the company started building its first Marani (wine cellar) in the village of Vardisubani, Telavi district.
                        In 2006, the construction of Marani was completed and the first Rtveli (harvest gathering) was held.
                        Winiveri produces wine in Kvevri according to traditional Georgian technology.
                        In 2008, the company started the construction of one of the first Chateaus in Georgia – Chateau Mere, which was successfully completed in 2011.
                        We continue to develop the complex of Chateau insuring the comfort of our guests. Today Chateau Mere is one of the most visited destinations in Kakheti.
                        The popularity of Winiveria Wines is growing every year, both in Georgia and abroad. This had become the main reason to establish the full-scale wine factory next to Chateau Mere.
                        This allowed us to offer our customers a synthesis of Georgian traditional and modern European-style wines.
                        Nowadays, Winiveria wines are successfully sold in the following countries:
                        Ukraine, Latvia, Belgium, Netherlands, France, Australia, Sweden, Norway, Russia, Czech Republic, Slovakia, USA, Kazakhstan, China, Azerbaijan.
                    </p>
                    @*<a href="#" class="primary-btn look-btn">See More</a>*@
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="lookbok-pic">
                    <img src="https://www.flaneurwines.com/wp-content/uploads/2018/09/Flanerie-Tractor-650x650.jpg" alt="">
                    <div style="color: antiquewhite;" class="pic-text">Marani Vineyard</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Lookbok Section End -->
<!-- Footer Section Begin -->
<partial name="_FooterWidget" />
<!-- Footer Section End -->
