@{
    ViewData["Title"] = "Home";
}


<partial name="_MainMenu" />
<!-- Hero Slider Begin -->
<section class="hero-slider">
    <div class="hero-items owl-carousel">
        <div class="single-slider-item set-bg" data-setbg="https://www.flaneurwines.com/wp-content/uploads/2018/06/Flanerire-3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Since</h2>
                        <h1>2005</h1>
                        <a asp-controller="home" asp-action="About" style="top: 40px;" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-item set-bg" data-setbg="https://www.flaneurwines.com/wp-content/uploads/2018/11/2018_Flaneur_October-1147.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Since</h2>
                        <h1>2005</h1>
                        <a href="#" style="top: 40px;" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider-item set-bg" data-setbg="https://www.flaneurwines.com/wp-content/uploads/2018/10/La-Belle-Promenade3.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>Since</h2>
                        <h1>2005</h1>
                        <a href="#" style="top: 40px;" class="primary-btn">See More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Slider End -->
<!-- Features Section Begin -->
<section class="features-section spad">
    <div class="features-ads">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-features-ads first">
                        <img src="~/assets/img/icons/f-delivery.png" alt="">
                        <h4>Free Delivery</h4>
                        <p>
                            Orders received on weekdays before 18:00 and on Saturdays before 15:00 will be delivered to you on the same day.
                            Orders received on Sunday will be delivered to you the next day.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads second">
                        <img src="~/assets/img/icons/coin.png" alt="">
                        <h4>100% Money back </h4>
                        <p>
                            Our product comes with a 100% money back guarantee within 30 days of purchase. Buy with confidence knowing your satisfaction is our top priority.
                            Contact our friendly customer service team for any questions or concerns.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-features-ads">
                        <img src="~/assets/img/icons/chat.png" alt="">
                        <h4>Shipping Policies</h4>
                        <p>
                            Alcoholic beverages may be sold and delivered only to persons who are at least 21 years old.
                            The person receiving the delivery may be required to show identification proving that he or she is at least 21 years old.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Features Box -->
    <div class="features-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="single-box-item first-box">
                                <img src="~/assets/img/cart/2018_Flaneur_October-1010.jpg" alt="">
                                <div class="box-text">
                                    <h2 style=" color:antiquewhite">Experienced</h2>
                                    <span style=" color:antiquewhite" class="trend-year">&</span>
                                    <span  style=" color:antiquewhite" class="trend-alert">Enthusiastic</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="single-box-item second-box">
                                <img src="https://www.flaneurwines.com/wp-content/uploads/2018/10/La-Belle-Promenade4.jpg" alt="">
                                <div style="color:antiquewhite" class="box-text">
                                    <h2 style=" color:antiquewhite">Wild</h2>
                                    <span style=" color:antiquewhite" class="trend-year">&</span>
                                    <br />
                                    <span style=" color:antiquewhite" class="trend-year">Inspired</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-box-item large-box">
                        <img src="https://www.flaneurwines.com/wp-content/uploads/2018/10/La-Belle-Promenade5.jpg" alt="">
                        <div style="color:antiquewhite" class="box-text">
                            <span style=" color:antiquewhite" class="trend-year">From the Heart of</span>
                            <h2 style=" color:antiquewhite">Georgia</h2>
                            <div class="trend-alert"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->
<!-- Latest Product Begin -->
<section class="latest-products spad">
    <div class="container">
        <div class="product-filter">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Latest Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="product-list">
            @await Component.InvokeAsync("LatestProducts")
        </div>
    </div>
</section>
<!-- Latest Product End -->
<!-- Logo Section Begin -->
<div class="logo-section spad">
    <div class="logo-items owl-carousel">
        <div class="logo-item">
            <img src="~/assets/img/logos/logo-1.png" alt="">
        </div>
        <div class="logo-item">
            <img src="~/assets/img/logos/logo-2.png" alt="">
        </div>
        <div class="logo-item">
            <img src="~/assets/img/logos/logo-3.png" alt="">
        </div>
        <div class="logo-item">
            <img src="~/assets/img/logos/logo-4.png" alt="">
        </div>
        <div class="logo-item">
            <img src="~/assets/img/logos/logo-5.png" alt="">
        </div>
    </div>
</div>
<!-- Logo Section End -->
<!-- Footer Section Begin -->

<partial name="_FooterWidget" />
<!-- Footer Section End -->
@section addjs{
    <script src="~/libs/sweetalert/sweetalert.min.js"></script>
    <script src="~/libs/toastr.js/toastr.min.js"></script>
    <script src="~/libs/toastr.js/toastr.customize.js"></script>


    <script>
        $(document).ready(function () {
            $("#newsletter-subscribe").submit(function (e) {
                e.preventDefault();

                let formData = new FormData(e.currentTarget);


                $.ajax({
                    url: '@Url.Action("Subscribe","Home")',
                    type: "POST",
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {

                        if (response.error == false) {
                            toastr["success"](response.message, "Uğur")
                        }

                        if (response.error == true) {
                            toastr["error"](response.message, "Xəta");
                        }

                        e.currentTarget.reset();
                    }
                });
            });


        });


    </script>
    }



    @section addcss{
 

    <link rel="stylesheet" href="~/libs/toastr.js/toastr.min.css" />
    <link rel="stylesheet" href="~/libs/toastr.js/toastr.css" />
                    }