<nav class="pcoded-navbar">
    <div class="pcoded-inner-navbar main-menu">
        <div class="pcoded-navigatio-lavel">İdarəetmə</div>
        <ul class="pcoded-item pcoded-left-item">
            <li>
                <a asp-controller="dashboard" asp-action="index">
                    <span class="pcoded-micon">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    </span>
                    <span class="pcoded-mtext">Homepage</span>
                </a>
            </li>

            <li>
                <a asp-controller="Categories" asp-action="index">
                    <span class="pcoded-micon">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    </span>
                    <span class="pcoded-mtext">Categories</span>
                </a>
            </li>

            <li>
                <a asp-controller="Brands" asp-action="index">
                    <span class="pcoded-micon">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    </span>
                    <span class="pcoded-mtext">Brands</span>
                </a>
            </li>

            <li>
                <a asp-controller="Colors" asp-action="index">
                    <span class="pcoded-micon">
                        <span class="pcoded-micon">
                            <i class="feather icon-box"></i>
                        </span>
                    </span>
                    <span class="pcoded-mtext">Colors</span>
                </a>
            </li>

            <li>
                <a asp-controller="Regions" asp-action="index">
                    <span class="pcoded-micon">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    </span>
                    <span class="pcoded-mtext">Regions</span>
                </a>
            </li>

            <li>
                <a asp-controller="Products" asp-action="index">
                    <span class="pcoded-micon">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    </span>
                    <span class="pcoded-mtext">Products</span>
                </a>
            </li>

            <li>
                <a asp-controller="Subscribes" asp-action="index">
                    <span class="pcoded-micon">
                        <span class="pcoded-micon"><i class="feather icon-box"></i></span>
                    </span>
                    <span class="pcoded-mtext">Subscribes</span>
                </a>
            </li>

            <li class="pcoded-hasmenu" dropdown-icon="style1" subitem-icon="style1">
                <a href="javascript:void(0)">
                    <span class="pcoded-micon"><i class="fa-solid fa-phone"></i></span>
                    <span class="pcoded-mtext">Contact</span>
                    <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                    <li>
                        <a asp-controller="ContactPosts" asp-action="index">
                            <span class="pcoded-micon">
                                <i class="feather icon-mail"></i>
                            </span>
                            <span class="pcoded-mtext">Messages from users</span>
                        </a>
                    </li>
                    <li>
                        <a asp-controller="ContactInfoes" asp-action="index">
                            <span class="pcoded-micon">
                                <i class="bi bi-info-circle"></i>
                            </span>
                            <span class="pcoded-mtext">Contact Infos</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>

            <li>
                <a asp-controller="faqs" asp-action="index">
                    <span class="pcoded-micon">
                        <i class="feather icon-help-circle"></i>
                    </span>
                    <span class="pcoded-mtext">Frequently Asked Questions</span>
                </a>
            </li>
        </ul>
       
    </div>
</nav>